.padding-md {
  padding: 5em;
}

.padding-sm {
  padding: 2em;
}

@media only screen and (max-width: 768px) {
  .padding-md {
    padding: 0;
    padding-top: 2em;
  }

  .padding-sm {
    padding: 1em 1em 4em 1em;
  }
}
