.full-stack-projects__container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10% 10%;
}

.front-end-projects__container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10% 10%;
}

.back-end-projects__container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10% 10%;
}

.link-buttons__container {
  display: flex;
  justify-content: space-evenly;
}
